<h1>Select Your Workout</h1>

<% @programs.each do |program| %>
  <div>
    <h2><%= link_to program.program_name, program_path(program) %></h2>
    <hr>
  </div>
<% end %>

<%= link_to "Add New Workout", new_program_path %>
