<h1><%= @day.day_number %></h1>
<hr>
<%= simple_form_for [@day, @exercise] do |f| %>
  <% @day.exercises.each do |exercise| %>
    <!-- <div> -->
      <h3><%= exercise.exercise_name %></h3>
      <%#= f.simple_fields_for :exercises do |r| %>
        <%#= render "workout_logs" , f: r%>
      <%# end %>
    <!-- </div> -->
    <hr>
  <% end %>
  <%= f.button :submit, "Finish Workout" %>
<% end %>
